<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    
	<string>#ffffff</string>
    <string>#c3c3c3</string>
    <string>#808080</string>
    <string>#404040</string>
    <string>#000000</string>
    <string>#b2773f</string>
    <string>#700a0d</string>
    <string>#c00011</string>
    <string>#f90016</string>
    <string>#f94618</string>
    <string>#fa7217</string>
    <string>#feb61b</string>
    <string>#9de11a</string>
    <string>#62b818</string>
    <string>#1d8316</string>
    <string>#75ccfd</string>
    <string>#1d86fe</string>
    <string>#1557c0</string>
    <string>#0b1858</string>
    <string>#350050</string>
    <string>#67007d</string>
    <string>#ff4080</string>
    <string>#ff9fda</string>
    <string>#fcb2cc</string>
    
</array>
</plist>
